//-------------------------------------Imports------------------------------------
//--------------------------------------------------------------------------------
@import "./mixins";
@import "./header";
@import "./content";

//----------------------------------General fixes---------------------------------
//--------------------------------------------------------------------------------
* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

